# controller
snippet ngcont
	${1:/* module name */}.controller(['$scope'${2}, function($scope, ${3}) {
		
	}]);

# factory
snippet ngfact
	${1:/* module name */}.factory(function(${2}) {
		
	});

# directive
snippet ngdir
	${1:/* module name */}.directive(function(${2}) {
		
	});
