snippet prn
	fmt.Println(${1})
snippet prnf
	fmt.Printf("%#v\n", ${1})
snippet func
	func ${1}(${2}) ${3}{
		${4}
	}
snippet meth
	func (${1}) ${2}(${3}) ${4}{
		${5}
	}
snippet if
	if ${1} {
		${2}
	}
snippet errif
	if err != nil {
		return ${1}err
	}
