[submodule "bundle/solarized"]
	path = bundle/solarized
	url = http://github.com/altercation/solarized.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
